<html>

<head>
<link rel="stylesheet" href="/portal/static/css/demo.css">
</head>

<body>
<div id="container">
   <div id="header">
    <a href="/portal"><img alt="logo" src="/portal/static/img/red-hat-logo.jpg"></a>
   </div>
   <div id="body">

