#parse( "template/header.vm" )

<div style="float:left;">

    <h1>User Model Create</h1>
    
    <table>
    <form id="frmModelCreate" method="post" action="create/act">
    <tr><td valign="top">Content</td><td><textarea name="content" rows="40" cols="70">$model.content</textarea></td></tr>
    <tr><td>&nbsp;</td><td><a href="javascript:{}" onclick="document.getElementById('frmModelCreate').submit()">Create</a></td></tr>
    </form>
    </table>
    
    <p/>
    <a href="../models"><= Back</a>

</div>

#parse( "template/footer.vm" )
