#parse( "template/header.vm" )

<div style="float:left;">

    <h1>$runtime.display()</h1>
    
    <pre style="color:grey; border:1px solid grey; padding: 10px">$model.content</pre>    
    
    #set( $buildStatus = $model.getModelState($runtime).buildStatus )
    #set( $enableBuild = $buildStatus != "Scheduled" && $buildStatus != "Running" )
    
    <p class="xsgrey">BuildStatus: $buildStatus
    #if ( ! $enableBuild )
        <a href="runtime?modelId=$model.modelId&runtime=$runtime" style="font-size: x-small">reload</a>
    #end
    </p>
    
    #if ( $enableBuild )
        <a href="runtime/act?modelId=$model.modelId&runtime=$runtime&action=build">build</a>
    #else
        <span class="disabled">build</span>
    #end

    #if ( $buildStatus != "NotFound" )
      <a href="runtime/act?modelId=$model.modelId&runtime=$runtime&action=sources">sources</a>
    #else
        <span class="disabled">sources</span>
    #end
    
    #if ( $buildStatus == "Success" )
      <a href="runtime/act?modelId=$model.modelId&runtime=$runtime&action=download">binary</a>
    #else
        <span class="disabled">binary</span>
    #end
        
    <p/>
    
    <a href="../models"><= Back</a>

</div>

#parse( "template/footer.vm" )
