#parse( "template/header.vm" )

<div style="float:left;">

    <h1>Model Update</h1>
    
    <table>
    <form id="frmModelUpdate" method="post" action="update/act">
    <input name="modelId" type="hidden" value="$model.modelId"/>
    <tr><td valign="top">Content</td><td><textarea name="content" rows="40" cols="70">$model.content</textarea></td></tr>
    <tr>
        <td>&nbsp;</td>
        <td>
            <a href="javascript:{}" onclick="document.getElementById('frmModelUpdate').submit()">Update</a>&nbsp;
        </td>
    </tr>
    </form>
    </table>
    
    <p/>
    <a href="../models"><= Back</a>

</div>

#parse( "template/footer.vm" )
