#parse( "template/header.vm" )


<div style="float:left;">

    <h1>Models</h1>

    <table>
        #foreach( $m in $models.models )
        <tr valign="top">
            <td><a href="model/update?modelId=$m.modelId">$m.title</a></td>
            <td>&nbsp;</td>
            <td>
                <form id="frmRuntime" action="model/runtime">
                    <input name="modelId" type="hidden" value="$m.modelId"/>
                    <select name="runtime">
                      <option value="standalone">Standalone</option>
                      <option value="docker">Docker</option>
                      <option value="javaee">JavaEE</option>
                    </select>
                </form>
            </td>
            <td>&nbsp;</td>
            <td>
                <a href="javascript:{}" onclick="document.getElementById('frmRuntime').submit()">select</a>
            </td>
            <td>&nbsp;</td>
            <td>
                <a href="model/delete/act?modelId=$m.modelId">delete</a>
            </td>
        </tr>
        #end
    </table>    
    <p/>
    <a href="models/create">Create</a>
    
</div>

    
#parse( "template/footer.vm" )
