#parse( "template/header.vm" )

<h1>User Register</h1>

<table>
<tr><td><h2>Register</h2></td></tr>
<form action="web/users/register">
<tr><td>First Name</td><td><input name="firstName" type="text" value="$user.firstName"></td></tr>
<tr><td>Last Name</td><td><input name="lastName" type="text" value="$user.lastName"></td></tr>
<tr><td>EMail</td><td><input name="email" type="text" value="$user.email"></td></tr>
<tr><td>Username</td><td><input name="username" type="text" value="$user.username"></td></tr>
<tr><td>Password</td><td><input name="password" type="password" value="$user.password"></td></tr>
<tr><td>Retype</td><td><input name="retype" type="password" value="$user.password"></td></tr>
<tr><td>&nbsp;</td><td><input type="submit"></td></tr>
</form>

#parse( "template/footer.vm" )
