#parse( "template/header.vm" )

<div style="float:left;">

    <h1>User Status</h1>
    
    <table>
    <tr><td>Userame</td><td class="gray">$user.username</td></tr>
    <tr><td>Email</td><td class="gray">$user.email</td></tr>
    <tr><td>Status</td><td class="gray">$user.status</td></tr>
    </table>
    
</div>

#parse( "template/footer.vm" )
