#parse( "template/header.vm" )

<div style="float:left;">

    <h1>User Register</h1>
    
    <table>
    <form method="post" action="register/act">
    <tr><td>First Name</td><td><input name="firstName" type="text" value="$user.firstName"></td></tr>
    <tr><td>Last Name</td><td><input name="lastName" type="text" value="$user.lastName"></td></tr>
    <tr><td>EMail</td><td><input name="email" type="text" value="$user.email"></td></tr>
    <tr><td>Username</td><td><input name="username" type="text" value="$user.username"></td></tr>
    <tr><td>Password</td><td><input name="password" type="password" value="$user.password"></td></tr>
    <tr><td>Retype</td><td><input name="retype" type="password" value="$user.password"></td></tr>
    <tr><td>&nbsp;</td><td><input type="submit" value="register"></td></tr>
    </form>
    </table>
    
</div>

#parse( "template/footer.vm" )
